@{
    ViewBag.Title = "Home Page";
}

<main>
    <center>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">Bienvenido al Caso de Estudio 1</h1>
            <p class="lead">A continuación la solución:</p>
            <br />
            <br />
            <div class="imagen">
                <div class="container">
                    <h1><span>Matricula</span></h1>
                    <span class="cen">Matricula el tipo de curso que desees</span>
                    <a href="@Url.Action("Matricula", "Home")" class="boton">Ver</a>
                </div>
            </div>
        </section>
    </center>
</main>